h1 {
    text-align: center;
}

.button {
    color: brown;
    background-color: brown;
}

h4 {
    text-align: center;
}

table {
    text-align: center;
    /* width: 35%;
    margin-left: 5%; */
}

.container {
    display: block;
    /* margin-left: 13%; */
}

/*Personal Health Divs (Main Content)*/
#personalhealth {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;

}

#health-status {
    justify-self: center;
    align-self: center;
    grid-column: 2 / 4;
    grid-row: 1 / 2;

}

#table-symptoms {
    height: auto;
    justify-self: center;
    grid-column: 2 / 4;
    grid-row: 2 / 3;

}

.personal-buttons {
    justify-self: center;
    align-self: center;
    grid-column: 2 / 4;
    grid-row: 3 / 4;

}

/* footer css starts*/
#footerPlaceholder > #bottom-navbar {
    background-color: #1D3557;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 1fr;
    text-align: center;
}

#nav-item1 {
    grid-column: 2;
}
.nav-link{
    color: white;
    font-size: large;   
    margin-top: 1px;
    margin-bottom: 0px;
    border-radius: 30px;
    padding: 0;
}

.nav-link:hover {
    cursor: pointer;
    color: #F1FAEE;
}

.bottom-nav-icon {
    width: 4vh;
    height: auto;
    margin-top: 10px;
}
/* footer css ends*/

/* top navbar css starts */
#navbarPlaceholder > #top-navbar {
    background-color: #1D3557;
}

.top-nav-icon {
    width: 4vh;
    height: auto;
}

.navbar-profile {
    background-color: transparent;
    border: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #A8DADC;
      border-radius: 5px;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/* top navbar css ends */