h1 {
    text-align: center;
}

.button {
    color: brown;
    background-color: brown;
}

h4 {
    text-align: center;
}

h2 {
    margin-left: 5%;
    color: forestgreen;
}

table {
    text-align: center;
    width: 35%;
    margin-left: 5%;
}

.container {
    display: block;
    margin-left: 13%;
}

/* footer css starts*/
#footerPlaceholder > #bottom-navbar {
    background-color: #1D3557;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 1fr;
    text-align: center;
}

#nav-item1 {
    grid-column: 2;
}
.nav-link{
    color: white;
    font-size: large;   
    margin-top: 1px;
    margin-bottom: 0px;
    border-radius: 30px;
    padding: 0;
}

.nav-link:hover {
    cursor: pointer;
    color: #F1FAEE;
}

.bottom-nav-icon {
    width: 4vh;
    height: auto;
    margin-top: 10px;
}
/* footer css ends*/

/* top navbar css starts */
#navbarPlaceholder > #top-navbar {
    background-color: #1D3557;
}

.top-nav-icon {
    width: 4vh;
    height: auto;
}

.navbar-profile {
    background-color: transparent;
    border: transparent;
}

/* top navbar css ends */