.health_tracking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-gap: 5%;
    float: inline-start;
    text-align-last: center;
    height: 400px;
    width: 100%;
    padding: 45px 30px;
}
h1 {
    text-align: center;
    color: forestgreen;
}
h4 {
    text-align: center;
    color: lightcoral;
}
.heartrate {
    border-radius: 5%;
    width: 90%;
    height: 100%;
    background-color: rgb(228, 67, 67);
}
.sleep {
    border-radius: 5%;
    width:90%;
    height: 100%;
    background-color: rgb(231, 228, 43);
}
.workout {
    border-radius: 5%;
    width: 90%;
    height: 100%;
    background-color: rgb(100, 198, 237);
}
.steps {
    border-radius: 5%;
    width:90%;
    height: 100%;
    background-color: rgb(48, 103, 204);
}
/*button {
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}*/

#footerPlaceholder > #bottom-navbar {
    background-color: rgb(79, 134, 247);
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 1fr;
    text-align: center;
}

#nav-item1 {
    grid-column: 2;
}
.nav-link{
    color: white;
    font-size: large;   
    margin-top: 1px;
    margin-bottom: 0px;
    border-radius: 30px;
    padding: 0;
}

.nav-link:hover {
    color: rgb(79, 134, 247);
    background-color: rgb(253, 209, 120);
    font-size: x-large;
    font-weight: bold;
    transition: background-color font-size 1.5s;
    cursor: pointer;
}

.bottom-nav-icon {
    width: 4vh;
    height: auto;
    margin-top: 10px;
}
/* footer css ends*/

/* top navbar css starts */
#navbarPlaceholder > #top-navbar {
    background-color: rgb(79, 134, 247);
}

.top-nav-icon {
    width: 5vh;
    height: auto;
}

.navbar-profile {
    background-color: transparent;
    border: transparent;
}

.nav-link {
    color: white;
}