/* survey.html css start*/
.card {
    background-color: white;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .5rem;   
}
/* survey html css ends*/

/* health html css start*/
.health-container {
    display: grid;
    border: solid;
    border-color: red;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100vh;
    width: 100%;
    margin: 20px auto;
}

.myPersonal {
    border: solid;
    width:90%;
    height: 100%;
    background-color: rgb(48, 103, 204);
    border-color: blue;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    text-align: center;
}

.myTeam {
    border: solid;
    width:90%;
    height: 100%;
    background-color: rgb(60, 179, 113);
    border-color: green;
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    text-align: center;
}



/* health html css ends*/

/* footer css starts*/
#footerPlaceholder > #bottom-navbar {
    background-color: rgb(79, 134, 247);
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 1fr;
    text-align: center;
}

#nav-item1 {
    grid-column: 2;
}
.nav-link{
    color: white;
    font-size: large;   
    margin-top: 1px;
    margin-bottom: 0px;
    border-radius: 30px;
    padding: 0;
}

.nav-link:hover {
    /* color: rgb(79, 134, 247);
    background-color: rgb(253, 209, 120);
    font-weight: bold;
    transition: background-color font-size 1.5s; */
    cursor: pointer;
}

.bottom-nav-icon {
    width: 4vh;
    height: auto;
    margin-top: 10px;
}
/* footer css ends*/

/* top navbar css starts */
#navbarPlaceholder > #top-navbar {
    background-color: rgb(79, 134, 247);
}

.top-nav-icon {
    width: 4vh;
    height: auto;
}

.navbar-profile {
    background-color: transparent;
    border: transparent;
}

/* top navbar css ends */

/* login.html css starts */
.login-container > #login-title {
    text-align: center;
    color: #F74F20;
    margin: 5vh 0 5vh 0;
}


/* profile.html css starts */
.profile-container > #profile-title {
    text-align: center;
    color: #F74F20;
    margin-top: 3vh;
}

#profile-instruction {
    text-align: center;
    margin: 1vh 0 -5vh 0;
}
.instructions-container > #instructions-title{
    text-align: center;
}

#form {
    margin: 0% 10% 10% 10%;
}

#survey-pop-up {
    text-align: center;
    justify-content: center;
}

#survey-btn {
    background-color:#F74F20 ;
    color: white;
}